<div class="container">
	<div class="row">
		<div class="col-xs-12">
    		<div class="card hovercard">
        		<div class="card-background">
            		<img class="card-bkimg" alt="" src="http://thumbs2.ebaystatic.com/d/l225/pict/301095489997_2.jpg">
       	 		</div>
        		<div class="useravatar">
            		<img ng-src="{{image}}"/>
        		</div>
        		<div class="card-info"><span class="card-title">{{name}} {{surname}}</span></div>
    		</div>
    		<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        		<div class="btn-group" role="group">
            		<button type="button" id="adminPlaylists" ng-class="myPlaylistClass" class="btn btn-primary" ng-click="showAdminPlaylists()"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                		<div class="hidden-xs">Show My Playlists</div>
            		</button>
        		</div>
        		<div class="btn-group" role="group">
            		<button type="button" id="usersPlaylists" ng-class="userPlaylistClass" class="btn btn-default" ng-click="showUsersPlaylists()"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                		<div class="hidden-xs">Show Users Playlists</div>
            		</button>
        		</div>
        		<div class="btn-group" role="group">
            		<button type="button" id="createPlaylist" ng-class="createPlaylistClass" class="btn btn-default" ng-click="openModal()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                		<div class="hidden-xs">Create Playlist</div>
            		</button>
        		</div>
        		<div class="btn-group" role="group" ng-show="!isAllMoodsIntoDatabase">
        			<button class="btn btn-sm btn-link" ng-click="addAllMoods()">Add all Moods from EchoNest</button> 
				</div>
				<div class="btn-group" role="group" ng-show="!isAllGenresIntoDatabase">
					<button class="btn btn-sm btn-link" ng-click="addAllGenres()">Add all Genres from EchoNest</button> 
    			</div>
    		</div>

        	<div class="well">
      			<div class="tab-content">
        			<div class="tab-pane fade in active">
          				<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th style="width: 3%;">#</th>
										<th>Name</th>
										<th ng-if="hasUser">User</th>
										<th>Date of Creation</th>
										<th>Genres</th>
										<th>Moods</th>
										<th>Videos</th>
										<th>Rating</th>
										<th>Popularity</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tr ng-repeat="playlist in playlists">
									<td at-implicit at-sortable at-attribute="index" width="150" at-initial-sorting="asc">{{playlist.playlistID}}</td>
									<td >{{playlist.name}}</td>
									<td ng-if="hasUser">{{playlist.userName}}</td>
									<td>{{playlist.date}}</td>
									<td>
										<table>
											<tr ng-repeat="genre in playlist.genres">
												<td>
												<a  class="btn btn-small">
												<i class="glyphicon glyphicon-tag img-circle"></i>
												{{genre.name}}
												</a>
												</td>
											</tr>
										</table>
									</td>
									<td style=" padding: 10px; ">
										<table>
											<tr ng-repeat="mood in playlist.moods">
												<td>
												<a  class="btn btn-small">
												<i class="glyphicon glyphicon-tag img-circle"></i>
												{{mood.name}}
												</a>
												</td>
											</tr>
										</table>
									</td>
									<td style=" padding: 10px; ">
										<div  class="row" ng-repeat="video in playlist.videos" ng-if="$index %4 == 0">
									      	<div style=" padding: 15px; " class="col-sm-3 nopadding" ng-if="playlist.videos[$index].image">
									      		<img class="videoImg2 img img-responsive" ng-src="{{playlist.videos[$index].image}}" title="{{playlist.videos[$index].name}}"></img>
									      	</div>
									      
									      	<div style=" padding: 15px; " class="col-sm-3 nopadding" ng-if="playlist.videos[$index+1].image">
									       		<img class="videoImg2 img img-responsive" ng-src="{{playlist.videos[$index+1].image}}" title="{{playlist.videos[$index+1].name}}"></img>
									      	</div>
									      
									      	<div style=" padding: 15px; " class="col-sm-3 nopadding" ng-if="playlist.videos[$index+2].image">
									          	<img class="videoImg2 img img-responsive" ng-src="{{playlist.videos[$index+2].image}}" title="{{playlist.videos[$index+2].name}}"></img>
									      	</div>
									      
									      	<div style=" padding: 15px; " class="col-sm-3 nopadding" ng-if="playlist.videos[$index+3].image">
									          	<img class="videoImg2 img img-responsive" ng-src="{{playlist.videos[$index+3].image}}" title="{{playlist.videos[$index+3].name}}"></img>
									      	</div>
									    </div>
									</td>
									<td style=" padding: 10px; text-align: center; ">{{playlist.rating}}</td>
									<td style=" padding: 10px; text-align: center; ">{{playlist.popularity}}</td>
									<td style=" padding: 10px; ">
										<a href="#" ng-click="editPlaylistt(playlist)"><span class="glyphicon glyphicon-pencil"></span></a>
									</td>
									<td style=" padding: 10px;">
										<a class="trash" ng-click="deletePlaylist(playlist, $event)"><span class="glyphicon glyphicon-trash"></span></a>
									</td>
								</tr>
							</table>
							<div class="row" ng-if="playlists.length > 0">
								<div class="col-xs-6">
		                            <h6 class="totalPlaylists">
		                                Total Playlists <span class="label label-info">{{page.totalItems}}</span>
		                        	</h6>
		                        </div>
								<div class="col-xs-6">
					            	<pagination class="pull-right" total-items="page.totalItems" items-per-page="page.size" ng-model="page.currentPage" ng-change="pageChanged()"></pagination>
					        	</div>
					        </div>
						</div>
        			</div>
      			</div>
    		</div> 
    	</div>
    </div>
</div>