<img style=" overflow: auto;  margin: auto; position: absolute; top: 30%; left: 0; bottom: 0; right: 0;z-index: 10000;" ng-src="{{image2.path}}" preloadable />
<div id="wellContent" class="container">
	<div class="row">
		<div class="well">
			<h2>Generate Playlist</h2>
			<hr />
			<div class="row">
				<div class="col-xs-6 col-sm-5">
					<div class="row">
						<div class="col-xs-12">
							<div id="playlistGenre" class="ddlists">
								<div dropdown="genreDropdown" dropdown-open-class="open" dropdown-active-class="active" dropdown-option-class="option" class="ng-dropdown" dropdown-disabled="isGenreDropdownDisabled">
									<div  dropdown-field class="ng-dropdown-field">
								    	<div class="ng-dropdown-value" ng-if="selectedGenre">{{selectedGenre.name}}</div>
								    	<div class="ng-dropdown-value" ng-if="!selectedGenre" class="ddtxt">Choose Genre</div>
								  	</div>
								  	<div dropdown-menu id="dropdown-genre-menu" class="ng-dropdown-menu">
								    	<div ng-repeat="genre in genres" ng-click="setGenreValue(genre)" class="option">{{genre.name}}</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="txtArea2">
								<code style="float: left;padding-right: 5px;margin-bottom: 6px;background-color: :#49afcd;"  class="tag label label-info" ng-repeat="g in listOfSelectedGenres">
									<span>{{g.name}}</span>
								  	<a><i style="float: left; color: white; padding-right: 2px;" class="glyphicon glyphicon-tag img-circle"></i><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="deleteGenre(g)"></i></a>
								</code>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-5">
					<div class="row">
						<div class="col-xs-12">
							<div id="playlistMood" class="ddlists">
								<div dropdown="moodDropdown" dropdown-open-class="open" dropdown-active-class="active" dropdown-option-class="option" class="ng-dropdown" dropdown-disabled="isMoodDropdownDisabled">
									<div dropdown-field class="ng-dropdown-field">
								    	<div class="ng-dropdown-value" ng-if="selectedMood">{{selectedMood.name}}</div>
								    	<div class="ng-dropdown-value" ng-if="!selectedMood" class="ddtxt">Choose Mood</div>
								  	</div>
								  	<div dropdown-menu id="dropdown-mood-menu" class="ng-dropdown-menu">
								    	<div ng-repeat="mood in moods" ng-click="setMoodValue(mood)" class="option">{{mood.name}}</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="txtArea2">
								<code style="float: left;padding-right: 5px;margin-bottom: 6px;background-color: :#49afcd;" class="tag2 label label-info" ng-repeat="m in listOfSelectedMoods">
									<span>{{m.name}}</span>
								  	<a ><i style="float: left; color: white; padding-right: 2px;" class="glyphicon glyphicon-tag img-circle"></i><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="deleteMood(m)"></i></a>
							  	</code>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-2 col-sm-2" ng-if="showBtn">
						<a class="myButton btn btn-primary btn3d" ng-click="generatePlaylist()">Submit</a>
					
				</div>
			</div>
			
			<div class="row" ng-if="videos.length > 0">
				<div class="col-xs-12 generateVideos">
					<slick init-onload="true" settings="slickConfig" slides-to-show="3" slides-to-scroll="3" data="videos">
						<div ng-repeat="video in videos" class="gallery ">
							<a class="videos" href="{{video.embed}}" title="{{video.snippet.title}}">
								<img ng-src="{{video.snippet.thumbnails.medium.url}}">
								<small class="videoTitle">{{video.snippet.title}}</small>
							</a>
						</div>
					</slick>
				</div>
			</div>
			<div class="row ddlist" ng-if="videos.length > 0">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12" style="margin-top: 20px;">
							<input placeholder="Name of Generated Playlist" style="width: 30%;float: left;margin-right: 15px;"  type="text" class="form-control" ng-focus ng-model="playlistObj.name" />
							<button style="float: left;width: 10%;" class=" btn btn-primary" ng-click="savePlaylist()"><span style="float:left;" class="glyphicon glyphicon-saved" ></span>Save</button>
							<div style="float: left;width: 1px;height: 35px;background-color: black;margin-left: 20px;margin-right: 20px;">
								&nbsp;
							</div>
							<button class="btn btn-default" style="float: left;width: 11%" ng-click="generatePlaylist()"><span class="glyphicon glyphicon-refresh" style="float:left;top:3px;"  ></span>Try It Again</button>
						</div>
					</div>
				</div>
			</div>
     	</div>
	</div>
</div>