<style type="text/css">
html, body {
	background:
		url(http://cdn02.masterstudies.com/element_db/52/5261_Electronics_Music_Production_pic_1.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
</style>
<div class="container">
<div class="row">
	<div style="margin-top: 200px; margin-bottom: 50px; text-align: center;" class="col-sm-8 col-sm-offset-2 col-xs-12">
		<input class="form-control" style="font-size: x-large; height: 50px" ng-focus ng-model="query" ng-enter="searchPlaylists()" placeholder="Search Playlists Generator" type="text" />
	</div>
	
	<div class="container-fluid well" style="margin-top: 750px; background-color: white;padding: 33px;">
    	<div class="row">
			<div class="col-xs-12" style="background: white;height: 100%;">
				<h2>Newest Playlists</h2>
				<hr />
				<div class="row" ng-repeat="playlist in newestPlaylists">
					<h3>
						{{playlist.name}} 
						<span>
							<a ng-href="#/playlists/{{playlist.playlistID}}" title="Play {{playlist.name}}">
								<i class="glyphicon glyphicon-play"></i>
							</a>
						</span>
					</h3>
					<slick ng-if="playlist.videos.length > 0" init-onload="true" settings="slickConfig" slides-to-show="4" slides-to-scroll="4" data="videos">
						<div ng-repeat="video in playlist.videos" class="videos">
							<img class="videoImg" ng-src="{{video.image}}"> 
							<small class="videoTitle">{{video.name}}</small>
						</div>
					</slick>
				</div>
				<h2>Top Rated Playlists</h2>
				<hr />
				<div class="row" ng-repeat="playlist in topRatedPlaylists">
					<h3>
						{{playlist.name}} 
						<span>
							<a ng-href="#/playlists/{{playlist.playlistID}}" title="Play {{playlist.name}}">
								<i class="glyphicon glyphicon-play"></i>
							</a>
						</span>
					</h3>
					<slick ng-if="playlist.videos.length > 0" init-onload="true" settings="slickConfig" slides-to-show="4" slides-to-scroll="4" data="videos">
						<div ng-repeat="video in playlist.videos" class="videos">
							<img class="videoImg" ng-src="{{video.image}}"> 
							<small class="videoTitle">{{video.name}}</small>
						</div>
					</slick>
				</div>
			</div>
		</div>
	</div>
	
</div>
</div>