<div class="container well">
	<div class="row" ng-if="playlists.length > 0">
		<div class="col-xs-12">
			<section class="col-xs-12 col-sm-6 col-md-12" ng-repeat="playlist in playlists">
				<article class="search-result row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<a ng-href="#/playlists/{{playlist.playlistID}}" title="Play {{playlist.name}}" class="thumbnail"><img ng-src="{{playlist.videos[0].image}}" /></a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-2">
						<ul class="meta-search">
							<li><i class="glyphicon glyphicon-calendar"></i> <span>{{playlist.date}}</span></li>
							<li><i class="glyphicon glyphicon-th-list"></i> <span>{{playlist.numberOfVideos}}</span></li>
							<li>
								<i class="glyphicon glyphicon-tags"></i> 
								<span ng-repeat="genre in playlist.genres"> {{genre.name}}</span>
							</li>
							<li>
								<i class="glyphicon glyphicon-tags"></i> 
								<span ng-repeat="mood in playlist.moods"> {{mood.name}}</span>
							</li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
						<a ng-href="#/playlists/{{playlist.playlistID}}" title="Play {{playlist.name}}"><h3 style="color: black;">{{playlist.name}} <span><i class="glyphicon glyphicon-play"></i></span></h3></a>
						<slick ng-if="playlist.videos.length > 0" init-onload="true" settings="slickConfig" slides-to-show="4" slides-to-scroll="4" data="videos">
							<div ng-repeat="video in playlist.videos" class="videos">
								<img class="videoImg" ng-src="{{video.image}}">
								<small class="videoTitle">{{video.name}}</small>
							</div>
						</slick>
					</div>
					<span class="clearfix borda"></span>
				</article>	
			</section>
			<div class="row">
				<div class="col-xs-12">
				  	<pagination class="pull-right" total-items="page.totalItems" items-per-page="page.size" ng-model="page.currentPage" ng-change="pageChanged()"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>