<div class="container well">
    <div class="row" style="margin-bottom:10px;">
        <div class="col-xs-12">
            <h1 class="page-header">{{playlist.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5 col-xs-10 col-sm-8">
            <img style="width: 355px; text-align: center; margin-right: 0px;" class="img img-responsive" ng-src="{{playlist.videos[0].image}}" title="{{playlist.name}}"/>
            <div>
            	<div ng-init="rating = star.rating + 1"></div>
				<div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)" ng-class="btnClass2" style="float: left;"></div>
             	<button ng-show="isAuthenticated" style="float:left;" type="submit" ng-class="btnClass" ng-click="submitFavorites()">{{btnText}}</button>
           </div>
		</div>
		<div class="col-lg-8 col-md-7 col-xs-7">
            <div class="col-lg-4 col-md-7 col-xs-7">
                <h5>
                	<i class="glyphicon glyphicon-tags"></i> 
					<span ng-repeat="genre in playlist.genres"> {{genre.name}}</span>
				</h5>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-7">
            	<h5>
                	<i class="glyphicon glyphicon-tags"></i> 
					<span ng-repeat="mood in playlist.moods"> {{mood.name}}</span>
				</h5>
            </div>
            <div class="col-lg-4 col-md-7 col-xs-7">
                <h5>Votes average: <span class="label label-danger">{{rating}}</span></h5>
            </div>
        </div>
	</div>
	<div class="row" style="margin-top: 50px;">
		<div class="col-xs-12">
			<div class="row" ng-repeat="video in playlist.videos" ng-if="$index %4 == 0">
				<div class="col-sm-3 nopadding">
				   	<div class="embed-responsive embed-responsive-16by9">
				   		<iframe width="650" height="405" src="{{playlist.videos[$index].embed}}" allowfullscreen frameborder="0"></iframe>
				   	</div>
				</div>
					      
				<div class="col-sm-3 nopadding">
				  	<div class="embed-responsive embed-responsive-16by9">
				   		<iframe width="650" height="405" src="{{playlist.videos[$index+1].embed}}" allowfullscreen frameborder="0"></iframe>
				  	</div>
				</div>
					      
				<div class="col-sm-3 nopadding">
				   	<div class="embed-responsive embed-responsive-16by9">
				   		<iframe width="650" height="405" src="{{playlist.videos[$index+2].embed}}" allowfullscreen frameborder="0"></iframe>
				 	</div>
				</div>
					      
				<div class="col-sm-3 nopadding">
				   	<div class="embed-responsive embed-responsive-16by9">
				   		<iframe width="650" height="405" src="{{playlist.videos[$index+3].embed}}" allowfullscreen frameborder="0"></iframe>
				   	</div>
				</div>
			</div>
		</div>
	</div>
</div>