<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row well profile">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-xs-6 col-sm-4">
							<h2>{{name}} {{surname}}</h2>
							<p>
								<strong>Email: </strong> {{email}}
							</p>
							<hr />
							<p>
								<strong>Preferred Genres: </strong>
								<span class="tags" ng-repeat="genre in genres"> {{genre.name}}</span>
							</p>
							<p>
								<strong>Preferred Moods: </strong> 
								<span class="tags" ng-repeat="mood in moods"> {{mood.name}}</span>
							</p>
						</div>
						<div class="col-xs-6 col-sm-4 text-center">
							<img ng-src="{{image}}" class="img-circle img-responsive">
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div style="padding-top: 10px;"
						class="btn-pref btn-group btn-group-justified btn-group-lg"
						role="group" aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" ng-class="myPlaylistClass" class="btn btn-primary" ng-click="showUserPlaylists()">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								<div class="hidden-xs">My Playlists</div>
							</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" ng-class="userPlaylistClass" class="btn btn-default" ng-click="showFavoritePlaylists()">
								<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<div class="hidden-xs">Favorite Playlists</div>
							</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" ng-class="userPlaylistClass" class="btn btn-default" ng-click="showRatedPlaylists()">
								<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								<div class="hidden-xs">Rated Playlists</div>
							</button>
						</div>
					</div>
					<div class="well">
						<div class="tab-content">
							<div class="tab-pane fade in active">
								<div class="row" ng-repeat="playlist in playlists">
									<div class="col-xs-12">
										<h3>{{playlist.name}}</h3>
										<slick init-onload="true" settings="slickConfig" slides-to-show="4" slides-to-scroll="4" data="playlist.videos">
											<div ng-repeat="video in playlist.videos" class="gallery ">
												<a class="videos" href="{{video.embed}}" title="{{video.name}}">
													<img  style="width: 265px;text-align: center;padding-right: 5px;" ng-src="{{video.image}}">
													<small class="videoTitle">{{video.name}}</small>
												</a>
											</div>
										</slick>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-if="playlists.length > 0">
						<div class="col-xs-6">
		                	<h6 class="totalPlaylists">
		                    	Total Playlists <span class="label label-info">{{page.totalItems}}</span>
		                    </h6>
		                </div>
						<div class="col-xs-6">
				        	<pagination class="pull-right" total-items="page.totalItems" items-per-page="page.size" ng-model="page.currentPage" ng-change="pageChanged()"></pagination>
					   	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>