@
-webkit-keyframes ngdialog-flyin { 0% {
	opacity: 0;
	-webkit-transform: translateY(-40px);
	transform: translateY(-40px);
}

100%
{
opacity




:


 


1;
-webkit-transform




:


 


translateY




(0);
transform




:


 


translateY




(0);
}
}
@
keyframes ngdialog-flyin { 0% {
	opacity: 0;
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
}

100%
{
opacity




:


 


1;
-webkit-transform




:


 


translateY




(0);
-ms-transform




:


 


translateY




(0);
transform




:


 


translateY




(0);
}
}
@
-webkit-keyframes ngdialog-flyout { 0% {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

100%
{
opacity




:


 


0;
-webkit-transform




:


 


translateY




(-40
px


);
transform




:


 


translateY




(-40
px


);
}
}
@
keyframes ngdialog-flyout { 0% {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

100%
{
opacity




:


 


0;
-webkit-transform




:


 


translateY




(-40
px


);
-ms-transform




:


 


translateY




(-40
px


);
transform




:


 


translateY




(-40
px


);
}
}
.ngdialog.ngdialog-theme-mine {
	padding-bottom: 160px;
	padding-top: 160px;
}

.ngdialog.ngdialog-theme-mine.ngdialog-closing .ngdialog-content {
	-webkit-animation: ngdialog-flyout .5s;
	animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-mine .ngdialog-content {
	-webkit-animation: ngdialog-flyin .5s;
	animation: ngdialog-flyin .5s;
	background: #f0f0f0;
	border-radius: 5px;
	color: #444;
	font-family: 'Helvetica', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 0 auto;
	max-width: 100%;
	padding: 1em;
	position: relative;
	width: 700px;
}

.ngdialog.ngdialog-theme-mine .ngdialog-close {
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}

.ngdialog.ngdialog-theme-mine .ngdialog-close:before {
	background: transparent;
	border-radius: 3px;
	color: #bbb;
	content: '\00D7';
	font-size: 26px;
	font-weight: 400;
	height: 30px;
	line-height: 26px;
	position: absolute;
	right: 3px;
	text-align: center;
	top: 3px;
	width: 30px;
}

.ngdialog.ngdialog-theme-mine .ngdialog-close:hover:before, .ngdialog.ngdialog-theme-mine .ngdialog-close:active:before
	{
	color: #777;
}

.ngdialog.ngdialog-theme-mine .ngdialog-message {
	margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-mine .ngdialog-input {
	margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-mine .ngdialog-input textarea, .ngdialog.ngdialog-theme-mine .ngdialog-input input[type="text"],
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="password"],
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="email"],
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="url"] {
	background: #fff;
	border: 0;
	border-radius: 3px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0 0 .25em;
	min-height: 2.5em;
	padding: .25em .67em;
	width: 100%;
}

.ngdialog.ngdialog-theme-mine .ngdialog-input textarea:focus, .ngdialog.ngdialog-theme-mine .ngdialog-input input[type="text"]:focus,
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="password"]:focus,
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="email"]:focus,
	.ngdialog.ngdialog-theme-mine .ngdialog-input input[type="url"]:focus {
	-webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
	box-shadow: inset 0 0 0 2px #8dbdf1;
	outline: none;
}

.ngdialog.ngdialog-theme-mine .ngdialog-buttons {
	*zoom: 1;
}

.ngdialog.ngdialog-theme-mine .ngdialog-buttons:after {
	content: '';
	display: table;
	clear: both;
}

.ngdialog.ngdialog-theme-mine .ngdialog-button {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	float: right;
	font-family: inherit;
	font-size: .8em;
	letter-spacing: .1em;
	line-height: 1em;
	margin: 0 0 0 .5em;
	padding: .75em 2em;
	text-transform: uppercase;
}

.ngdialog.ngdialog-theme-mine .ngdialog-button:focus {
	-webkit-animation: ngdialog-pulse 1.1s infinite;
	animation: ngdialog-pulse 1.1s infinite;
	outline: none;
}

@media ( max-width : 568px) {
	.ngdialog.ngdialog-theme-mine .ngdialog-button:focus {
		-webkit-animation: none;
		animation: none;
	}
}

.ngdialog.ngdialog-theme-mine .ngdialog-button.ngdialog-button-primary {
	background: #3288e6;
	color: #fff;
}

.ngdialog.ngdialog-theme-mine .ngdialog-button.ngdialog-button-secondary
	{
	background: #e0e0e0;
	color: #777;
}

.cplabel {
	padding-top: 5px;
}

.cplabel2 {
	padding-top: 15px;
}

.ddlists {
	padding-top: 10px;
}

.ddtxt {
	opacity: 0.8;
}

.enterNew {
	padding-top: 25px;
}

.txtArea {
	width: 100%;
	height: 90px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	font-size: small;
	font-style: normal;
	border-style: solid;
	border-width: 1px;
	border-color:silver;
}

.txtArea2 {
	height: 60px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	margin-top: 1%;
	border-style: solid;
	border-width: 1px;
	border-color:silver;
}

.tag {
	float: left;
	padding-right: 5px;
	margin-bottom: 6px;
	color: #ffffff;
	font-size: 12;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid: 
	DXImageTransform.Microsoft.gradient( startColorstr= '#ff5bc0de',
		endColorstr= '#ff2f96b4', GradientType= 0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid: 
	DXImageTransform.Microsoft.gradient( enabled= false);
	font-size: 12px;
	padding: .3em .4em .4em;
	margin-right: 5px;
	font-size: 12;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.tag2 {
	float: left;
	padding-right: 5px;
	margin-bottom: 6px;
	color: #ffffff;
	font-size: 12;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid: 
	DXImageTransform.Microsoft.gradient( startColorstr= '#ff5bc0de',
		endColorstr= '#ff2f96b4', GradientType= 0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid: 
	DXImageTransform.Microsoft.gradient( enabled= false);
	font-size: 12px;
	padding: .3em .4em .4em;
	margin-right: 5px;
	font-size: 12;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de),
		to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',
		endColorstr='#ff2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.tag .tag2 span {
	vertical-align: middle;
}

.tag a {
	cursor: pointer;
	opacity: 0.6;
}

.tag2 a {
	cursor: pointer;
	opacity: 0.6;
}

.tag a:hover {
	opacity: 1.0
}

.tag2 a:hover {
	opacity: 1.0
}

.tag .remove {
	vertical-align: middle;
}

.tag2 .remove {
	vertical-align: middle;
}

.tag .tag2 a {
	margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
	color: #fff;
	margin-bottom: 2px;
}

.tag2 a .glyphicon-white {
	color: #fff;
	margin-bottom: 2px;
}

slick {
	margin-bottom: 5px;
}

.videos {
	margin: 10px;
}

.videos:hover {
	cursor: pointer;
}

.videoImg {
	width: 100%;
}

.nopadding {
	padding: 2px !important;
	margin: 0 !important;
	outline: 2px solid #333;
	background: #333;
}

.videoTitle {
	float: left;
	text-decoration: none;
}

.videoPublished {
	float: right;
	text-decoration: none;
}

.generateVideos {
	margin-top: 50px;
}

.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}

.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #285e8e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #285e8e, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#3071a9;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #285e8e inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#3071a9;
}

.slick-prev
{
	left: -20px;
	color: rgba(42, 43, 76, 0.93);
}
.slick-next
{
	right: -20px;
	color: rgba(42, 43, 76, 0.93);
}
.slick-prev:before, .slick-next:before 
{
	
	color: #3071a9;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.cantRate {
	pointer-events: none;
}

.btnAdd {
	margin-left: 48%
}

.btnRemove {
	margin-left: 40%
}