<div class="ngdialog-message">
	<div class="ngdialog-header">
		<h4 class="h4 text-center">Enter New Password</h4>
	</div>
	<hr>
	<div class="ngdialog-content">
		<form class="form-horizontal">
			<fieldset>
				<div class="row control-group">
					<div class="col-sm-4">
						<small class="cplabel" for="password">Old Password: </small>
					</div>
					<div class="col-sm-8">
						<input id="password" ng-focus required ng-model=password name="password" type="password" class="form-control" class="input-medium">
					</div>
				</div>
				<hr style="opacity: 0.3">
				<div class="row control-group">
					<div class="col-sm-4">
						<small class="cplabel" for="newPassword">New Password: </small>
					</div>
					<div class="col-sm-8">
						<input id="newPassword" required ng-model=newPassword name="newPassword" type="password" class="form-control" class="input-medium">
					</div>
				</div>
				<div class="row control-group cplabel2">
					<div class="col-sm-4">
						<small for="newPasswordConf">New Password Confirmation: </small>
					</div>
					<div class="col-sm-8">
						<input id="newPasswordConf" required ng-model=newPasswordConf name="newPasswordConf" type="password" class="form-control" class="input-medium">
					</div>
				</div>
				<div class="row control-group cplabel2">
					<h6>Changing your password will log you out of all of your other sessions.</h6>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="ngdialog-footer">
		<div class="ngdialog-buttons">
	    	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="changePassword()">Save</button>
	        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
	    </div>
    </div>
</div>