<div class="ngdialog-message">
	<div class="ngdialog-content">
		<h4>Do you really want to delete playlist '{{delPlaylist.name}}' created on {{delPlaylist.date}} ?</h4>
	</div>
	<div class="ngdialog-footer">
		<div class="ngdialog-buttons">
	    	<button id="deleteBtn" type="button" class="ngdialog-button ngdialog-button-primary" ng-click="deletePlaylist()"><span ng-class="btnClass"></span>{{btnText}}</button>
	        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
	    </div>
    </div>
</div>