<div class="ngdialog-message">
	<div class="ngdialog-header">
		<h4 class="h4 text-center">Edit Playlist</h4>
	</div>
	<hr>
	<div class="ngdialog-content">
		<form class="form-horizontal">
			<fieldset>
				<!-- Text input-->
				<div class="row control-group">
					<div class="col-sm-2">
						<label class="cplabel" for="playlistName">Name: </label>
					</div>
					<div class="col-sm-5">
						<input id="playlistName" ng-focus required ng-model="playlistName" name="playlistName" type="text" class="form-control" placeholder="Name of the Playlist" class="input-medium">
					</div>
				</div>
				<div class="row control-group">
					<div class="col-sm-offset-2 cplabel2">
						<span class="col-sm-5"><small>Created: </small><code>{{editPlaylist.date}}</code></span>
						<span class="col-sm-offset-1 col-sm-3"><small>Popularity: </small><code>{{editPlaylist.popularity}}</code></span>
						<span class="col-sm-offset-1 col-sm-2"><small>Rating: </small><code>{{editPlaylist.rating}}</code></span>
					</div>
				</div>
				<div class="row">
					<hr style="opacity: 0.3">
				</div>
				<div class="row control-group">
					<div class="col-sm-2">
						<label class="cplabel2" for="playlistGenre">Genres: </label>
					</div>
					<div id="playlistGenre" class="col-sm-4 ddlists">
						<div dropdown="genreDropdown" dropdown-open-class="open" dropdown-active-class="active" dropdown-option-class="option" class="ng-dropdown" dropdown-disabled="isGenreDropdownDisabled">
							<div dropdown-field class="ng-dropdown-field">
						    	<div class="ng-dropdown-value" ng-if="selectedGenre"><small>{{selectedGenre.name}}</small></div>
						    	<div class="ng-dropdown-value" ng-if="!selectedGenre"><small class="ddtxt">Choose Genre</small></div>
						  	</div>
						  	<div dropdown-menu id="dropdown-genre-menu" class="ng-dropdown-menu">
						    	<div ng-repeat="genre in genres" ng-click="setGenreValue(genre)" class="option">{{genre.name}}</div>
						  </div>
						</div>
					</div>
					<div class="col-sm-6" ng-enter="addGenre()">
						<div class="row">
							<div class="col-sm-1 cplabel2">
								<small for="playlistGenreName">Or </small>
							</div>
							<div class="col-sm-8 ddlists">
								<input id="playlistGenreName" ng-blur="checkGenre()" ng-model="newGenre" name="playlistGenreName" type="text" class="form-control" placeholder="Enter New Genre" class="input-medium">
							</div>
							<div class="col-sm-2 ddlists">
								<button class="btn btn-default" ng-click="addGenre()">Add</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row control-group ddlists">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="txtArea">
							<code style="float: left;padding-right: 5px;margin-bottom: 8px;" class="tag label label-info" ng-repeat="g in playlistGenres">
								<span>{{g.name}}</span>
							  	<a><i style="float: left; color: white; padding-right: 2px;" class="glyphicon glyphicon-tag img-circle"></i><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="deleteGenre(g)"></i></a>
							</code>
						</div>
					</div>
				</div>
				<hr style="opacity: 0.3" class="col-sm-offset-2">
				<div class="row control-group">
					<div class="col-sm-2">
						<label class="cplabel2" for="playlistMood">Moods: </label>
					</div>
					<div id="playlistMood" class="col-sm-4 ddlists">
						<div dropdown="moodDropdown" dropdown-open-class="open" dropdown-active-class="active" dropdown-option-class="option" class="ng-dropdown" dropdown-disabled="isMoodDropdownDisabled">
							<div dropdown-field class="ng-dropdown-field">
						    	<div class="ng-dropdown-value" ng-if="selectedMood"><small>{{selectedMood.name}}</small></div>
						    	<div class="ng-dropdown-value" ng-if="!selectedMood"><small class="ddtxt">Choose Mood</small></div>
						  	</div>
						  	<div dropdown-menu id="dropdown-mood-menu" class="ng-dropdown-menu">
						    	<div ng-repeat="mood in moods" ng-click="setMoodValue(mood)" class="option">{{mood.name}}</div>
						  </div>
						</div>
					</div>
					<div class="col-sm-6"  ng-enter="addMood()">
						<div class="row">
							<div class="col-sm-1 cplabel2">
								<small for="playlistMoodName">Or </small>
							</div>
							<div class="col-sm-8 ddlists">
								<input id="playlistMoodName" ng-blur="checkMood()" ng-model="newMood" name="playlistMoodName" type="text" class="form-control" placeholder="Enter New Mood" class="input-medium">
							</div>
							<div class="col-sm-2 ddlists">
								<button class="btn btn-default" ng-click="addMood()">Add</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row control-group ddlists">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="txtArea">
							<code style="float: left;padding-right: 5px;margin-bottom: 8px;" class="tag2 label label-info" ng-repeat="m in playlistMoods">
								<span>{{m.name}}</span>
							  	<a ><i style="float: left; color: white; padding-right: 2px;" class="glyphicon glyphicon-tag img-circle"></i><i class="remove glyphicon glyphicon-remove-sign glyphicon-white" ng-click="deleteMood(m)"></i></a>
							</code>
						</div>
					</div>
				</div>
				<hr style="opacity: 0.3">
				<div class="row control-group" ng-enter="searchVideo()">
					<div class="col-sm-2">
						<label class="cplabel2" for="playlistVideos">Videos: </label>
					</div>
					<div class="col-sm-10 ddlists">
						<div class="input-group">
					      	<input type="text" ng-model="videoTitle" class="form-control" placeholder="Search for a new video on YouTube">
					      	<span class="input-group-btn">
					        	<button class="btn btn-default" ng-click="searchVideo()"><span class="glyphicon glyphicon-search"></span></button>
					    	</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 ddlists">
						<slick ng-if="videos.length > 0" init-onload="true" settings="slickConfig" slides-to-show="4" slides-to-scroll="4" data="videos">
							<div ng-repeat="video in videos" class="videos" ng-click="setSelectedVideo(video)" ng-dblclick="addVideo()">
								<img class="videoImg" ng-src="{{video.snippet.thumbnails.default.url}}">
								<small class="videoTitle">{{video.snippet.title}}</small>
							</div>
						</slick>
					</div>
				</div>
				<div class="row cplabel2">
					<div class="col-sm-12">
						<div class="row" ng-repeat="video in playlistVideos" ng-if="$index %4 == 0">
					      	<div class="col-sm-3 nopadding">
					        	<div class="embed-responsive embed-responsive-16by9">
					          		<iframe width="650" height="405" src="{{playlistVideos[$index].embed}}" allowfullscreen frameborder="0"></iframe>
					        	</div>
					      	</div>
					      
					      	<div class="col-sm-3 nopadding">
					        	<div class="embed-responsive embed-responsive-16by9">
					          		<iframe width="650" height="405" src="{{playlistVideos[$index+1].embed}}" allowfullscreen frameborder="0"></iframe>
					        	</div>
					      	</div>
					      
					      	<div class="col-sm-3 nopadding">
					        	<div class="embed-responsive embed-responsive-16by9">
					          		<iframe width="650" height="405" src="{{playlistVideos[$index+2].embed}}" allowfullscreen frameborder="0"></iframe>
					       	 	</div>
					      	</div>
					      
					      	<div class="col-sm-3 nopadding">
					        	<div class="embed-responsive embed-responsive-16by9">
					          		<iframe width="650" height="405" src="{{playlistVideos[$index+3].embed}}" allowfullscreen frameborder="0"></iframe>
					        	</div>
					      	</div>
					    </div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="ngdialog-footer ddlists" ng-enter="editPlaylist()">
		<div class="ngdialog-buttons">
	    	<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="editPlaylistt()" ng-class="btnClass"> {{btnText}}</button>
	        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
	    </div>
    </div>
</div>