<div class="container">
	<div class="row">
		<div class="">
	    	<div class="container-fluid">
	        	<nav class="navbar navbar-fixed-top">
	            	<div class="container">
	                	<div class="navbar-header">
	                    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span>
							</button>
	                        <a class="navbar-brand" ng-href="#/" ng-click="activateHome()">Playlist Generator</a>
	                 	</div>
	                    <div id="navbar" class="navbar-collapse collapse">
	                    	<ul class="nav navbar-nav" ng-switch on="isAdmin">
	                        	<li ng-class="activeHome">
	                            	<a ng-href="#/" ng-click="activateHome()">Home</a>
	                          	</li>
	                          	<li ng-class="activeGenerate" ng-show="isAuthenticated">
	                          		<a ng-href="#/generate-playlist" ng-click="activateGenerate()">Generate Playlist</a>
	                          	</li>
	                          	<li ng-class="activeSearch">
	                          		<a ng-href="#/search" ng-click="activateSearch()">Search</a>
	                          	</li>
	                          	<li ng-class="activePlaylists">
	                          		<a ng-href="#/playlists" ng-click="activatePlaylists()">Playlists</a>
	                          	</li>
	                             <li ng-switch-when="true" ng-class="activeCtrlPanel">
	                           		<a ng-href="#/admin" ng-click="activateCtrlPanel()">Control Panel</a>
	                            </li>
	                       	</ul>
	                        <ul ng-switch on="isAuthenticated" class="nav navbar-nav pull-right">
	                        	<li ng-switch-when="true">
	                       		   	<a  class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as {{username}} <span class="caret"></span></a>
	                                <ul class="dropdown-menu">
	                                 	<li><a ng-href="#" ng-click="openModalToChangePass()">Change Password</a></li>
	                                   	<li><a ng-href="#/profile">My Profile</a></li>
	                                </ul>
	                           </li>
	                         	<li ng-switch-when="false">
	                        		<a href="#" ng-click="openModal()">Log In</a>
	                            </li>
	                            <li ng-switch-when="true">
	                              	<a href="#" ng-click="logout()">Logout</a>
	                     		</li>
	                    	</ul>
	                  	</div>
	                </div>
	          	</nav>
	       	</div>
	  	</div>
	</div>
</div>