<div class="ngdialog-message" ng-switch on="isSignIn">
	<div class="ngdialog-header">
		<div class="bs-example bs-example-tabs">
			<ul id="myTab" class="nav nav-tabs">
				<li ng-class="loginClass"><a href="#" ng-click="signIn()">Sign In</a></li>
				<li ng-class="registerClass"><a href="#" ng-click="register()">Register</a></li>
			</ul>
		</div>
	</div>
	<div class="ngdialog-content">
		<div id="myTabContent" class="tab-content">
	    	<div id="signin" ng-switch-when="false" ng-enter="login()">
	    		<!-- Sign In Form -->
				<form class="form-horizontal">
					<fieldset>
						<!-- Text input-->
						<div class="control-group">
							<label class="control-label" for="userid">User Name:</label>
							<div class="controls">
								<input id="userid" ng-focus required ng-model="$parent.username" name="userid" type="text" class="form-control" placeholder="John" class="input-medium">
							</div>
						</div>
						<!-- Password input-->
						<div class="control-group">
							<label class="control-label" for="passwordinput">Password:</label>
							<div class="controls">
								<input required ng-model="$parent.password" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
							</div>
						</div>
						<!-- Multiple Checkboxes (inline) -->
						<div class="control-group">
							<label class="control-label" for="rememberme"></label>
							<div class="controls options" style="margin-left:5%;">
								<label class="checkbox inline"> <input type="checkbox" name="rememberme" ng-model="$parent.rememberMe" value="Remember me"> Remember me</label>
							</div>
						</div>
						<!-- Buttons -->
						<div class="ngdialog-buttons">
	            			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="login()">Confirm</button>
	            			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
	        			</div>
					</fieldset>
				</form>
			</div>
			<div id="signup" ng-switch-when="true" ng-enter="signup()">
				<!-- Sign Up Form -->
				<form class="form-horizontal" name="form">
					<fieldset>					
						<div class="row">
							<div class="col-md-6">
								<!-- Text input-->
								<div class="control-group">
									<label class="control-label" for="userid">Name:</label>
									<div class="controls has-feedback">
										<input name="userid" ng-focus class="form-control" ng-model="$parent.name" ng-minlength="3" ng-maxlength="10" type="text" placeholder="John" class="input-large" ng-required="true">
										<span style="color:green" ng-show="!form.userid.$error.required && !form.userid.$error.minlength && !form.userid.$error.maxlength" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   						<span style="color:red" ng-show="form.userid.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.userid.$error.minlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.userid.$error.maxlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Text input-->
								<div class="control-group">
									<label class="control-label">Lastname:</label>
									<div class="controls has-feedback">
										<input name="lastname" class="form-control" ng-model="$parent.lastname" ng-minlength="3" ng-maxlength="10" type="text" placeholder="Johnson" class="input-large" required="true">
										<span style="color:green" ng-show="!form.lastname.$error.required && !form.lastname.$error.minlength && !form.lastname.$error.maxlength" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   						<span style="color:red" ng-show="form.lastname.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.lastname.$error.minlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.lastname.$error.maxlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
							</div>
						</div>
						<!-- Text input-->
						<div class="control-group">
							<label class="control-label">Username:</label>
							<div class="controls has-feedback">
								<input name="username" class="form-control" ng-model="$parent.regUsername" ng-minlength="3" ng-maxlength="10" type="text" placeholder="johnson" class="input-large" required="true">
								<span style="color:green" ng-show="!form.username.$error.required && !form.username.$error.minlength && !form.username.$error.maxlength" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   				<span style="color:red" ng-show="form.username.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span style="color:red" ng-show="form.username.$error.minlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span style="color:red" ng-show="form.username.$error.maxlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<!-- Text input-->
						<div class="control-group">
							<label class="control-label" for="Email">Email:</label>
							<div class="controls has-feedback">
								<input type="email" name="email" ng-model="$parent.email" class="form-control input-large" required="true" placeholder="JoeSixpack@sixpacksrus.com">
								<span style="color:green" ng-show="!form.email.$error.email && !form.email.$error.required" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   				<span style="color:red" ng-show="form.email.$error.email"ng-show="form.email.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span style="color:red" ng-show="form.email.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
							</div>
						</div>
						<!-- Group Pass -->
						<div class="row">							
							<div class="col-md-6">		
								<!-- Password input-->
								<div class="control-group">
									<label class="control-label" for="password">Password:</label>
									<div class="controls has-feedback">
										<input id="password" name="password" class="form-control" ng-model="$parent.regPassword" type="password" placeholder="********" class="input-large" required ng-minlength="5" ng-maxlength="20">
										<span style="color:green" ng-show="!form.password.$error.required && !form.password.$error.minlength && !form.password.$error.maxlength" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   						<span style="color:red" ng-show="form.password.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.password.$error.minlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.password.$error.maxlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- RePassword input-->
								<div class="control-group">
									<label class="control-label" for="reenterpassword">Re-Enter Password:</label>
									<div class="controls  has-feedback">
										<input id="reenterpassword" class="form-control" name="reenterpassword" ng-model="$parent.repassword" type="password" placeholder="********" class="input-large" required ng-minlength="5" ng-maxlength="20">
										<span style="color:green" ng-show="!form.reenterpassword.$error.required && !form.reenterpassword.$error.minlength && !form.reenterpassword.$error.maxlength" class="glyphicon glyphicon-ok form-control-feedback"></span>
				   						<span style="color:red" ng-show="form.reenterpassword.$error.required" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.reenterpassword.$error.minlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
										<span style="color:red" ng-show="form.reenterpassword.$error.maxlength" class="glyphicon glyphicon-remove form-control-feedback"></span>
									</div>
								</div>	
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<!-- Years input-->
								<div class="control-group">
									<label class="control-label" for="years">Age:</label>
									<div class="controls">
										<input id="password" name="Years" class="form-control" type="number" ng-model="$parent.age" placeholder="7-77" class="input-large" required>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Multiple Radios -->
								<div id="radioBtns" class="control-group">
									<div class="controls options" style="margin-left:5%;">
										<label class="radio" for="humancheck-0"> 
											<input  type="radio" name="humancheck" id="humancheck-0" ng-model="$parent.sex" value="male" checked="checked">Male
										</label> 
										<label class="radio" for="humancheck-1"> 
											<input  type="radio" name="humancheck" id="humancheck-1" ng-model="$parent.sex" value="female">Female
										</label>
									</div>
								</div>
							</div>
						</div>
						<br />
						<!-- Buttons -->
						<div class="ngdialog-buttons">
	           	 			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="signup()" >Confirm</button>
	            			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
	        			</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>